{
  "burner_api": {
    "base_url": "http://api.burnerapp.com",
    "version": "2.1.10"
  },
  "database_url": "postgresql://localhost:5432/burner-app-starter-kit-development",
  "oauth": {
    "client_id": "",
    "client_secret": "",
    "authorize_host": "http://app.burnerapp.com/",
    "callback_url": "http://localhost:3001/auth/burner/callback",
    "state_secret": ""
  },
  "client_url": "http://localhost:3001/",
  "key_encryption_password": "",
  "session_secret": "",
  "heroku_app_name": ""
}
