@import '../variables.css';

.root {
  border-top: 2px solid var(--brand-color);
  padding-top: 1em;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.number {
  font-style: italic;
  font-weight: 300;
}
